.sectionFour{
        background: linear-gradient(to right , #0c6ff093, #0952f1c9), url(../../../public/image\ 102.png),;
        background-size: cover;
        background-position: center;
        .text {
            color: #fff;
        }
    }
